body{
	font-family: 'Montserrat', sans-serif;
	    
    background-repeat: no-repeat;
    background-image: url('https://images2.alphacoders.com/386/thumb-1920-38622.jpg');
    background-color: rgba(156, 39, 176, 0.55);
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}



#header{
	padding: 25px;
}

#bg-layer{
	background-color: rgba(172, 102, 189, 0.9);
	height: 100%;
	width: 100%;
	position: absolute;
}

h2{
	color: #757575;
	margin-top: 0px;
	margin-bottom: 25px;
	font-weight: bold;
}

.input-field{


      background-color: #ffffff;
  border: medium none;
  border-radius: 4px;
  color: #66615b;
  font-size: 16px;
  transition: background-color 0.3s ease 0s;
  padding: 7px 0px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid gainsboro;
  border-radius: 0px;
  width: 100%;

}

.input-field:focus{
	/*outline: none;
	box-shadow: none;
	border-bottom : 1px solid green;*/

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;

}
    #form-cont{
    	/*width: 600px;*/
    	margin: 0px auto;
    	display: block;
    	text-align: center;
    	padding : 3.5% 0%;

    }



    #form-parent{
		padding: 20px;
    }

#reg-form-sec{
	    
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    border-radius: 4px;
    margin-top: 5%;
    box-shadow: 0px 0px 40px #656565;
    height: 80%;
}


.group{
	position: relative;
	margin-bottom: 25px;

}

label{
	position: absolute;
	top: 10px;
	left: 0px;
	color: gray;
	font-weight: 400;
	transition: 0.4s ease all;
	-moz-transition : 0.4s ease all;
	-webkit-transition : 0.4s ease all;
	pointer-events: none;
}

input:focus ~ label , input:valid ~ label{
	top: -12px;
	font-size: 11px;
	
	color: #9c27b0;
}

input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}

#submit-btn{
	margin-bottom: 20px;
	background-color: #9c27b0;
	border-color: #9c27b0;
	border-radius: 25px;
	background-image: none;
	font-size: 12px;
	width: 120px;
	padding: 8px 0px;
	margin-top: 20px;
}

#submit-btn:hover{
	    box-shadow: 0 14px 26px -12px rgba(156,39,176,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(156,39,176,.2);
}

#submit-btn:focus{
	outline: none;

}


.f-cont{
	padding : 20px 15px;
}

.form-cont{
	padding : 0px 70px;
	margin-top: 10px;
}


/* BOTTOM BARS ================================= */
.bar  { 

	display:block; 
	width: 100%; 
}

.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width: 0%;
  bottom:1px; 
  position:absolute;
  background: #9c27b0; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

#date{
	    color: #673AB7;
    font-size: 32px !important;
}

#favorite,#cashless{
	font-size: 32px !important;
}

#favorite{
	color: #FF1744;
}

#cashless{
	color: #2196F3;
}

.highlight-heading{
	font-weight: bold;
	font-size: 20px;
	color: #383838;
	text-align: left;
}

.highlight-content{
	text-align: left;
	font-weight: 200;
	color: #999;
}



